body {
    background: #222222;
    display: flex;

}

.title {
    font-size: 40px;
    color:rgb(60, 202, 148);
}

.box {
    margin: 10px;
    height: auto;
    width: 250px;
    border: 3px solid white;
    border-radius: 10px;
    padding-top: 16px;
}

.botao {
  cursor:pointer;
  border: none;
  margin-right: 10px;
  font-size: 35px;
  color:rgb(60, 202, 148);
  text-decoration:wavy;
  margin-left: 25px;
}

.botao span:hover {
  transition: 0.3s all;
  font-size: 40px;
  }

hr {
  border: 1px solid white;
  margin: 10px;
}

.cubao {
    background-color: black;
    margin: 10px;
    height: 600px;
    width: 100%;
    border-radius: 30px;
}